* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-container {
  margin-top: 5rem;
}

.nav-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.carousel-text {
  color: rgb(62, 62, 62);
}